<h2>Homepage</h2>
<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Search by title, author, isbn" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
  <div>
    <div class="book-card" style="width: 18rem;">
      <% for( let i=0; i < data.length; i++ ) { %>
        <% let book=data[i]; %>  
      <div class="card-body">
        <h5 class="card-title"><%= book.title %></h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
        <p class="card-text"> </p>
        <a href="#" class="card-link">Card link</a>

      </div>
      <% } %>
    </div>
    </div>
</nav>

